<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>
    
    <body>
        <header class="container">
            <%- include('partials/header') %>

            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                    </ol>
                </nav>
            </div>
        </header>   

        <main class="container">

            <h1><%= category.name %></h1>
            <p><%= category.page_description %></p>
            <% if (category.image) { %>
            <div>
                <img src="/images/<%= category.image %>">
            </div>
            <% } %>
            
            <% _.each(category.categories, function(subC) { %>
            <div class="card">
                <div class="card-body">

                    <a href="<%= subC.id %>">
                        <h2><%= subC.name %></h1>
                    </a>
                    <p><%= subC.page_description %></p>
                    <% if (subC.image) { %>
                    <div>
                        <img src="/images/<%= subC.image %>">
                    </div>
                    <% } %>
               </div> 
            </div>  
            </br>
            <% }); %>                    
             
        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>

        
        <%- include('partials/bottom_scripts') %>
    </body>
</html>