<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<header class="container-fluid fixed-top bg-white">
    <%- include('partials/header') %>

    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
            </ol>
        </nav>
    </div>

</header>   


<main class="container-fluid">
    <%- include('partials/login_modal') %>
    <%- include('partials/signup_modal') %>

    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 col-md-offset-4 col-offset-3">
        <h1>Checkout</h1>
        <h4>Your Total: $<%= total.toFixed(2); %></h4>
        <div id="charge-errors" class="alert alert-danger" <%= noError ? 'hidden' : ''; %>>
          <%= errMsg %>
        </div>
        <form action="/cart/checkout" method="post" id="checkout-form">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" required name="name">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" id="address" class="form-control" required name="address">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="card-name">Card Holder Name</label>
                <input type="text" id="card-name" class="form-control" required>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="card-number">Credit Card Number</label>
                <input type="text" id="card-number" class="form-control" required>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="card-expiry-month">Expiration Month</label>
                    <input type="text" id="card-expiry-month" class="form-control" required>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="card-expiry-year">Expiration Year</label>
                    <input type="text" id="card-expiry-year" class="form-control" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="card-cvc">CVC</label>
                <input type="text" id="card-cvc" class="form-control" required>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-block" <%= noError ? '' : 'disabled'; %>>BUY NOW</button>
        </form>
      </div>
    </div>



    <script src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="../javascripts/checkout.js"></script>


</main>
