<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>
    
    <body>
        <header class="container fixed-top bg-white">
            <%- include('partials/header') %>
        </header>   

        <main class="container">
            </br>
            <h2 class="text-center">Choose your category:</h2>
            </br>
            <div class="row">
                <% _.each(categories, function(category) { %>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">

                            <a type="button" class="btn btn-info btn-lg btn-block" href="../genders/<%= category.id %>">
                                <h1><%= category.page_description.split('.')[0] %></h1>
                            </a>
                            </br>
                        
                            <p><%= category.page_description %></p>
                            
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </main>

        <%- include('partials/footer') %>
   
        <%- include('partials/bottom_scripts') %>
    </body>
</html>