
<header class="container-fluid fixed-top bg-white">
    <%- include('partials/header') %>

    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
            </ol>
        </nav>
    </div>

</header>   


<main class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 col-md-offset-4">
            <% if (hasAlert) { %>
                <div class="alert alert-success alert-dismissible fade show">
                    <% _.each(messages, function(message) { %>
                        <p><%= message %></p>
                    <% }); %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% }; %>
        </div>
    </div>

    <div class="row" >

    <% _.each(categories, function(category) { %>
        <div class="col col-sm-6 gender-cat">

            <h1><%= category.name %></h1>
            <p><%= category.page_description %></p>
            <% if (category.image) { %>
            <div>
                <img class="img-fluid mx-auto" src="/images/<%= category.image %>">
            </div>
            <% } %>
            
            <% _.each(category.categories, function(subC) { %>
            <div class="card mb-2">
                <div class="card-body">

                    <a href="../<%= subC.id %>">
                        <h2><%= subC.name %></h2>
                    </a>
                    <% if (subC.image) { %>
                    <div>
                        <img class="img-fluid mx-auto" src="/images/<%= subC.image %>">
                    </div>
                    <% } %>
                    <p><%= subC.page_description %></p>
                    <a class="btn btn-primary" href="../categories/<%= subC.id %>">View products</a>
                    
               </div> 
            </div>  
         
        <% }); %>  
        </div> 

    <% }); %> 
    </div>  

</main>
