
<header class="container-fluid fixed-top bg-white">
  <%- include('partials/header') %>

  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="../<%= range_id %>"><%= range_id %></a></li>
        <li class="breadcrumb-item"><a href="../categories/<%= category_id %>"><%= category_id %></a></li>
        <li class="breadcrumb-item"><a href="../products/<%= id %>"><%= product.name %></a></li>
      </ol>
    </nav>
  </div>
</header>   


<main class="container">
 

  <div class="row ">
    <div class="col mt-2">
      <div class="card h-100">
        <div class="card-body">
          <h3><%= product.name %></h3>
          <br>
          <div class="row">
            <div class="col-6 w-100">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% let counter = 0;
                  let active = '';
                  _.each(product.image_groups[0].images, image => {
                  !counter ? active = 'active' : active = ''; %>
                  <div class="carousel-item <%= active %>">
                    <img src="/images/<%= image.link %>" class="d-block w-100" alt="...">
                  </div>
                  <% counter++;
                  }); %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              
            </div>
            <div class="col-6 w-100">
              <div class="d-flex flex-column h-100 justify-content-between">
                <%= product.short_description %>
                <%- product.long_description %>

                
                <form id="product-selection-form" role="form" action="../cart/add" method="post">
                  <% _.each(product.variation_attributes, atribute => { %>
                  <div  class="form-group">
                  <p><%= atribute.name %>: </p>
                    <div class="row">
                      <div class="btn-group-toggle" data-toggle="buttons">
                        <% _.each(atribute.values, value => { %>
                        <label id="sel<%= value.value %>"class="btn btn-secondary rounded-pill">
                          <input type="radio" name="<%= atribute.id %>" value="<%= value.value %>"><%= value.name %>

                        </label>
                        <% }); %>


                      </div>
                    </div>
                  </div>
                  <% }); %>
                  </br>

                  
                 
                  <div class="form-row">    
                    <h3 id="priceInChosenCurrency"><%= product.price %></h3>
                    
                    <select id="exRateOption" class="col-sm-2 form-control" name='currencies' >
                      <option value='BRL' title='Brazilian Real'>BRL</option>
                      <option value='CAD' title='Canadian Dollar'>CAD</option>
                      <option value='CHF' title='Swiss Franc'>CHF</option>
                      <option value='EUR' title='Euro'>EUR</option>
                      <option value='GBP' title='British Pound Sterling'>GBP</option>
                      <option value='JPY' title='Japanese Yen'>JPY</option>
                      <option value='UAH' title='Ukrainian Hryvnia'>UAH</option>
                      <option value='USD' title='United States Dollar' selected>USD</option>
                    </select>
                  </div>
                  <input type="hidden" name="id" value="<%= product.id %>">


                  </br>   
                      <button type="submit" class="btn btn-success w-50 float-right self-align-baseline" href>Add to cart</button>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>               
  </div>

</main>


<script type="text/javascript" src="../javascripts/currency_exchange_rate.js"></script>
<script>
    let exRateOption = document.getElementById('exRateOption')
    let priceInChosenCurrency = document.getElementById('priceInChosenCurrency');
    exRateOption.addEventListener('change', async (e) => {
        let rate = await exRate(e.target.value);
        priceInChosenCurrency.innerHTML = (<%= product.price %> * rate).toFixed(2);
    });   
</script>

<script>
  <% _.each(options, option => { %>
    $(document).ready(function(){
      $('#product-selection-form input[type=radio]').click(function(event){
        if(`${this.name}` == '<%=option.id%>') {
          <% variants.forEach((variant) => { %> 
            <% _.each(attributes, atr => { %>              
                    $(`#sel<%= variant.variation_values[atr] %>`).css('background-color', 'mediumseagreen');          
            <% }); %>
          <% }); %>

          <% variants.forEach((variant) => { %> 
              <% _.each(attributes, atr => { %>                     
                if (`<%= atr %>` != `${this.name}` && `<%= variant.variation_values[option.id] %>` == `${this.value}`) {       
                  $(`#sel<%= variant.variation_values[atr] %>`).css('background-color', 'seagreen');          
                } 
              <% }); %>
          <% }); %>
        }
      });
    });
  <% }); %>   
</script>